@charset "UTF-8";
ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.list {
  list-style: none;
}

img {
  display: block;
}
@media screen and (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  img {
    width: 100%;
    height: auto;
  }
}

.section--nopadding {
  padding-bottom: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
  width: 480px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .main-nav {
    width: 768px;
    height: 80px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav {
    width: 1600px;
    height: 80px;
    display: flex;
    align-items: center;
  }
}
body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-body: #f5f5f5;
  --footer-backgraund: #2f303a;
  --backgraund-section: #f5f4fa;
  --hover-focus-color: #188ce8;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .box {
    background-image: url("photo@2x.png");
  }
}
.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-feature {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .section-feature {
    padding: 94px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .section--no-padding {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
  }
}

.header-info {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header-info {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .header-info {
    display: flex;
  }
}
.header-info__items {
  display: block;
}
@media screen and (min-width: 1200px) {
  .header-info__items {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 40px;
  }
}
.header-info__items:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .header-info {
    /*Кнопки конверт и телефон*/
  }
  .header-info__items:not(:last-child) {
    margin-bottom: 10px;
  }
  .header-info a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .header-info :hover, .header-info :focus {
    color: var(--accent-color);
  }
  .header-info__svg {
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    fill: currentColor;
  }
  .header-info__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-mob-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-tabl-img.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url("../images/Header2xtabl.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-deks-img.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url("../images/Header2xdesk.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero .box {
    background-image: url("../images/Header2xmob.jpg");
  }
}
.hero__title {
  color: var(--background-body);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin-left: auto;
    margin-right: auto;
    font-size: 44px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-left: auto;
    margin-right: auto;
  }
}
.hero__btn {
  color: #ffffff;
  background: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  margin: 0 auto;
  padding: 10px 24px;
  border: none;
  transition: color 250ms;
}
.hero__btn:hover, .hero__btn:focus {
  background: var(--hover-focus-color);
}

.feature {
  gap: 30px;
  /* Иконки Переваг */
}
@media screen and (min-width: 768px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    display: flex;
    flex-wrap: nowrap;
  }
}
.feature__item {
  width: 100%;
  display: block;
}
@media screen and (min-width: 1200px) {
  .feature__item {
    flex-basis: calc(25% - 30px);
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
.feature__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
.feature__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 30px;
}
.feature__svg {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .feature__svg {
    width: 270px;
  }
}

.navigation-list {
  display: none;
  margin-left: 93px;
}
@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .navigation-list {
    margin-left: 88px;
  }
}
.navigation-list__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding: 32px 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .navigation-list__link--current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .navigation-list__link--current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
.navigation-list__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list__link:hover, .navigation-list__link:focus, .navigation-list__link--current {
  color: var(--accent-color);
}
.navigation-list__item {
  display: block;
  margin-right: 50px;
}
.navigation-list__item:last-child {
  margin-right: 0;
}
.navigation-list__list {
  cursor: pointer;
}

.about {
  display: none;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}
.about__list {
  display: none;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .about__list {
    display: flex;
  }
}
.about__item {
  margin-right: 30px;
  position: relative;
}
.about__item:nth-child(3n) {
  margin-right: 0;
}
.about__img {
  position: absolute;
  bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding: 27px;
}

/*.about {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
}

.about__item {
  margin-right: 30px;
}

.about__item:nth-child(3n) {
  margin-right: 0;
}

.about__item {
  position: relative;
}

.about__img {
  position: absolute;
  bottom: 0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding: 27px;
}

.section--no-padding {
  padding-top: 0;
}
*/
.section--no-padding {
  padding-top: 0;
}

.team {
  background-color: var(--backgraund-section);
}
.team__list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .team__list {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .team__list {
    flex-wrap: wrap;
  }
}
.team__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 60px;
}
.team__item {
  background: #ffffff;
  flex-basis: 100%;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team__item:nth-child(2n) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
.team__item:last-child {
  margin-right: 0;
}
.team__desc {
  padding: 30px 0;
}
.team__subtitle {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.social__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  /*background-color: var(--background-body);*/
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}

.social__svg {
  fill: currentColor;
}

.clients {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    font-size: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    margin-top: 0;
    padding-top: 94px;
  }
}
.clients__svg {
  box-sizing: border-box;
  width: auto;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .clients__svg {
    width: 170px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients__svg {
    width: auto;
  }
}
.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}
.clients__item {
  flex-basis: calc((100% - 60px) / 2);
  margin-bottom: 30px;
  margin-left: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__item {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.clients__svg {
  color: #afb1b8;
  fill: currentColor;
}
.clients__svg:hover, .clients__svg:focus {
  background-color: #ffffff;
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  background: var(--footer-backgraund);
  padding: 60px 0;
  /* Футер иконки */
  /*Призыв к действию (подписка на телеграм) */
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 0 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 0;
  }
}
.footer__socials {
  color: rgba(255, 255, 255, 0.6);
  background: var(--footer-backgraund);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__adress {
  color: var(--background-body);
  background: var(--footer-backgraund);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__item :hover, .footer__item :focus {
  color: var(--accent-color);
}
.footer__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    text-align: justify;
    justify-content: space-between;
  }
}
.footer__box {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .footer__box {
    margin-bottom: 60px;
  }
}
.footer__social {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__social {
    display: inline-block;
    margin-left: 70px;
  }
}
.footer__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 60px;
}
.footer__soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__soc-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.footer__soc-item:not(:last-child) {
  margin-right: 10px;
}
.footer__soc-link {
  width: 100%;
  height: 100%;
  /*background-color: (var(--background-body));*/
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__svg {
  fill: currentColor;
}
.footer__soc-link:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}
.footer__soc-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__info {
  margin-right: 0;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .footer__info {
    display: contents;
  }
}
.footer__form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__form-list {
  background-color: #2f303a;
}
.footer__form-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
  transition: color 250ms;
  margin-left: 12px;
}
@media screen and (min-width: 768px) {
  .footer__form-button {
    display: block;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-button {
    display: inline-flex;
  }
}
.footer__form-button:hover, .footer__form-button:focus {
  background: var(--hover-focus-color);
}
.footer__form-svg {
  margin-left: 10px;
}
.footer__form-input {
  width: 100%;
  height: 50px;
  color: #ffffff;
  background-color: rgb(47, 48, 58);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .footer__form-input {
    width: 358px;
  }
}
@media screen and (min-width: 768px) {
  .footer__form-input {
    width: 358px;
  }
}

.button-items {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-items__button {
  color: var(--title-text-color);
  background: var(--backgraund-section);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-items__btn :hover, .button-items__btn :focus {
  color: var(--background-body);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-items__btn {
  margin-right: 8px;
}
.button-items__btn:last-child {
  margin-right: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(33.3333333333% - 60px);
}
.portfolio__item:hover .portfolio__overlay {
  transform: translateY(0);
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio__content {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.portfolio__link {
  display: block;
  text-decoration: none;
}
.portfolio__link:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__name {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.modal-backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

label.modal__checkbox-text {
  display: -webkit-inline-flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  label.modal__checkbox-text {
    display: flex;
    font-size: 14px;
  }
}

.modal {
  padding: 40px;
  left: 536px;
  top: 221px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;
  /*Заполнение модального окна*/
  /*
  .modal__svg:hover,
  .modal__svg:focus {
    color: var(--background-body);
    background: var(--accent-color);
  }*/
  /*.modal-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
  */
  /*.checkbox-text::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    display: block;
    margin-right: 9px;
  }*/
  /*align-items: center;
  justify-content: center;*/
  /*.input-check:checked + label::before {
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/check.svg);
    background-color: var(--accent-color);
  }*/
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    padding: 40px;
  }
}
.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  fill: currentColor;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:focus {
  outline: none;
  color: #188ce8;
}
.modal__title {
  width: 370px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    height: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__title {
    width: 448px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  }
}
.modal__input {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.modal__input:focus + .modal__svg {
  color: var(--hover-focus-color);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  outline: none;
  border: 1px solid var(--hover-focus-color);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--title-text-color);
  fill: currentColor;
}
.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  display: block;
  padding: 16px 12px;
  margin-top: 4px;
}
@media screen and (min-width: 1200px) {
  .modal__comment {
    width: 448px;
  }
}
.modal__comment:focus {
  outline: none;
  border: 1px solid var(--hover-focus-color);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-group {
  font-weight: 400;
  margin-top: 4px;
}
.modal__input-group--label {
  display: block;
}
.modal__label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
  margin-top: 20px;
}
.modal__span-label {
  width: 16px;
  height: 16px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal__span-label svg {
  fill: transparent;
}
.modal__input-check:checked + label > span {
  border: 0.2px solid #ffffff;
  background-color: var(--accent-color);
}
.modal__input-check:checked + label > span svg {
  fill: var(--background-body);
}
.modal__link {
  color: var(--accent-color);
  margin-left: 8px;
}
.modal__button {
  color: #ffffff;
  background: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  margin: 0 auto;
  padding: 10px 24px;
  border: none;
  transition: color 250ms;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal__input-wrapper {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.modal__close {
  box-sizing: border-box;

  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-top: 8px;

  background: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  border: none;

  align-items: center;
  justify-content: center;
} */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
.logo__style--black {
  color: #000000;
}
.logo__style--white {
  color: #ffffff;
}
.logo__color {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: block;
  align-items: center;
  margin-bottom: 20px;
}

.menu-open {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  outline: none;
}
@media screen and (min-width: 1200px) {
  .menu-open {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 21px 0;
  transition: left 250ms, visibility 250ms;
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu .container {
  display: block;
  height: 100%;
}
.mobile-menu .is-hidden {
  left: -100px;
  right: auto;
}

.menu-close {
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  outline: none;
}

.menu-close:hover,
.menu-close:focus {
  color: #2196f3;
}

.mob-navigation-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-navigation-list__link {
  text-decoration: none;
  width: 219px;
  height: 48px;
  left: 40px;
  top: 128px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-left: 40px;
}

.mob-navigation-list__link--current {
  color: #2196f3;
}

.mobile-link-info {
  margin-left: 40px;
}

.mob-header-info {
  margin-top: 306px;
}

.mob-header-info__items:not(:last-child) {
  margin-bottom: 32px;
}

.mob-header-info__link {
  text-decoration: none;
  width: 296px;
  height: 40px;
  left: 40px;
  top: 562px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-mail-header-info__link {
  width: 231px;
  height: 28px;
  left: 40px;
  top: 634px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-social {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.mobile-social__item {
  margin-top: 64px;
}

.mobile-social__item:not(:last-child) {
  margin-right: 10px;
}

.mobile-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-social__item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.menu-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* вторичный основоного текста #212121 */
/* основной цвет текста #757575; */
/*акцент #2196F3 */
/* цвет фона #F5F5F5; */
/* шапка -  белый #FFFFFF; */
/* вторичный (наша команда) #F5F4FA */
/* вторичный цвет фона (тёмный) #2F303A; */
/*Logo*/
/*Навигация*/
/*Хедер*/
/* Секция герой */
/* Секция переваг */
/* Секция работа */
/* Секция Команда */
/* Секция Клиенты */
/* Футер */
/* Кнопки портфолио*/
/* Портфолио карточки */
/* Модалка *//*# sourceMappingURL=main.css.map */