@import './utils/reset';
@import './utils/variables';
@import './utils/miximages';
@import './components/container';
@import './components/section';
@import './components/header';
@import './components/hero';
@import './components/feature';
@import './components/navigation';
@import './components/about';
@import './components/team';
@import './components/social-team';
@import './components/clients';
@import './components/footer';
@import './components/portfolio-button';
@import './components/portfolio-thumb';
@import './components/modal';
@import './components/logo';
@import './components/mobile-menu';

/* вторичный основоного текста #212121 */

/* основной цвет текста #757575; */

/*акцент #2196F3 */

/* цвет фона #F5F5F5; */

/* шапка -  белый #FFFFFF; */

/* вторичный (наша команда) #F5F4FA */

/* вторичный цвет фона (тёмный) #2F303A; */

/*Logo*/

/*Навигация*/

/*Хедер*/

/* Секция герой */

/* Секция переваг */

/* Секция работа */

/* Секция Команда */

/* Секция Клиенты */

/* Футер */

/* Кнопки портфолио*/

/* Портфолио карточки */

/* Модалка */
